<main class="homepage" role="main">
  <nav>
    <img src="logo.png" alt="College Map logo" width="32" height="32" />
    <h1 class="wordmark">College Map</h1>
    <ul class="nav-links">
      <li><a href="#">About</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Jobs</a></li>
    </ul>
  </nav>
  <div class="content">
    <h2>Interactive map of colleges you're interested in.</h2>
    <p>
      Suspendisse vel turpis efficitur sem placerat euismod. Aenean tristique neque at enim rutrum, interdum consequat purus fermentum. Morbi a lacus commodo, porttitor felis ac, suscipit tortor. Pellentesque lobortis arcu quis mattis iaculis. Suspendisse rutrum mi est, vel venenatis justo tempor tincidunt. Morbi congue sodales tempor. Nunc libero elit, porttitor et justo ut, lobortis ultricies urna. Vivamus a tellus id metus eleifend facilisis. Proin convallis justo lorem, ac congue nibh laoreet ut. Duis orci erat, gravida mattis tristique et, porttitor at est. Nulla venenatis purus eu interdum tincidunt. Ut ullamcorper est eu nibh congue auctor. Maecenas fermentum, ipsum vitae eleifend rutrum, nunc leo venenatis tortor, vitae tempus nisl libero ac nibh.
    </p>
    <a class="oauth-button" href="<%= BASE_URL %>/oauth?client_id=<%= CLIENT_ID %>">Sign in with RaiseMe</a>
  </div>
</main>
