<main class="homepage" role="main">
  <nav>
    <img src="logo.png" alt="College Map logo" width="40" height="40" />
    <h1 class="wordmark">College Map</h1>
    <ul class="nav-links">
      <li><a href="#">About</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Jobs</a></li>
    </ul>
  </nav>
  <div class="content">
    <a class="oauth-button" href="<%= BASE_URL %>/oauth?client_id=<%= CLIENT_ID %>">Sign in with RaiseMe</a>
    <h2>1. Interactive map of college you're interested in.</h2>
    <p>
      Suspendisse vel turpis efficitur sem placerat euismod. Aenean tristique neque at enim rutrum, interdum consequat purus fermentum. Morbi a lacus commodo, porttitor felis ac, suscipit tortor. Pellentesque lobortis arcu quis mattis iaculis. Suspendisse rutrum mi est, vel venenatis justo tempor tincidunt. Morbi congue sodales tempor. Nunc libero elit, porttitor et justo ut, lobortis ultricies urna. Vivamus a tellus id metus eleifend facilisis. Proin convallis justo lorem, ac congue nibh laoreet ut. Duis orci erat, gravida mattis tristique et, porttitor at est. Nulla venenatis purus eu interdum tincidunt. Ut ullamcorper est eu nibh congue auctor. Maecenas fermentum, ipsum vitae eleifend rutrum, nunc leo venenatis tortor, vitae tempus nisl libero ac nibh.
    </p>
    <h2>2. See your earnings on a live map</h2>
    <p>
      Aliquam hendrerit tincidunt quam, eget blandit felis. Nunc mollis, urna sit amet dictum hendrerit, est nisi convallis est, vitae scelerisque leo purus sit amet libero. Sed finibus justo euismod, finibus quam at, maximus purus. Quisque consectetur sem ac lobortis ultrices. Praesent non commodo sapien, non placerat eros. Praesent enim erat, consectetur sed tortor a, tristique molestie arcu. Sed porta, sem sed ornare pellentesque, lorem ex cursus risus, id ultrices ipsum elit in velit. Vivamus tincidunt fringilla velit a hendrerit. Proin rutrum vitae massa at finibus. Duis eget pulvinar ipsum, nec tempus risus. Maecenas condimentum euismod quam at porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec augue risus, blandit sit amet sapien consectetur, tincidunt dictum metus. Sed porttitor ante nec elit placerat, ut ornare tellus pharetra. Suspendisse ullamcorper lacinia volutpat.
    </p>
    <h2>3. See which colleges are closest to you</h2>
    <p>
      Morbi et eros id risus tincidunt blandit. Quisque ultricies nisi sed tincidunt volutpat. Mauris egestas est non ligula euismod, sit amet accumsan nunc tempor. Phasellus ullamcorper velit orci, convallis rhoncus erat bibendum eget. Mauris ultricies ultricies sagittis. In semper orci ex, ac feugiat diam sollicitudin in. Praesent sed mollis lectus. Duis efficitur sit amet nibh sed iaculis. Morbi eget ornare erat. Morbi erat urna, sodales eu massa vel, gravida egestas eros.
    </p>
  </div>
</main>
