<main class="mappage" role="main">
  <h1>Your College Map</h1>
  <div id="college-map"></div>
</main>

<div class="overlay">
  <div class="modal">
    <h1>Welcome to College Map!</h1>
    <p>
      College Map shows you an interactive map of colleges you're interested. To find our more about each college, click on their pin.
    </p>
    <button type="button">Continue</button>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_API_KEY %>&callback=initMap"></script>
<script src="main.js"></script>
